# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
*.mo
*.coverage
*.coverage.*
htmlcov/
.coverage
*.csv
local_settings.py

# Secret files
google.json
*.key
*.pem

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# OS files
.DS_Store
Thumbs.db
